@model OnlineTestingSystem.Models.Discipline
@*@model List<Discipline>*@
@*@using OnlineTestingSystem.Models*@
@*@using System.Web.Mvc;*@

@{
    ViewBag.Title = "EditDiscipline";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit Discipline</h2>
<h4 style="font-style:oblique; font-weight:lighter;">Complete the registration form below:</h4>
<br />
<div class="container">

    @using (Html.BeginForm("EditDiscipline", "Discipline", FormMethod.Post))
    {       
        @Html.DropDownListFor(t => t.DisciplineName, new SelectList(ViewBag.listOfDisciplines), "Select Discipline",new { @class = "form-control" })
  
        <div class="form-group">
            <label for="NewDisciplineName">New Discipline Name</label> <br />
            <input id="NewDisciplineName" />
        </div>
        <input class="btn btn-primary" type="submit" />
    }
    @ViewBag.message

</div>

